// Injects Tailwind's base styles
@tailwind base;

// Injects default page style.
@layer base {

    * {
        // Text rendering
        text-rendering: optimizeLegibility;
        -o-text-rendering: optimizeLegibility;
        -ms-text-rendering: optimizeLegibility;
        -moz-text-rendering: optimizeLegibility;
        -webkit-text-rendering: optimizeLegibility;
        -webkit-tap-highlight-color: transparent;

        // Remove the focus ring
        &:focus {
            outline: none !important;
        }
    }

    // HTML and Body default styles
    html,
    body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;
        min-height: 100%;
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
    }

    body, .dark, .light {
        color: rgba(255, 255, 255, .5) !important;
        background-color: rgba(15, 23, 42, 1);
    }

    // Border default styles
    *, *::before, *::after {
        --tw-border-opacity: 1 !important;
        border-color: rgba(var(--tw-border-rgb), var(--tw-border-opacity));

        .dark & {
            --tw-border-opacity: 0.12 !important;
        }
    }
}

// Injects Tailwind's component classes.
@tailwind components;
