<div class="flex items-center pr-5 space-x-5 sm:space-x-10">
    <ng-container *ngIf="!timerService.isStarted || timerService.isEnded">
        <button mat-icon-button (click)="onStart()">
            <mat-icon class="text-6xl">play_arrow</mat-icon>
        </button>
    </ng-container>
    <ng-container *ngIf="timerService.isStarted && !timerService.isEnded">
        <button mat-icon-button (click)="onStop()">
            <mat-icon class="text-6xl">stop</mat-icon>
        </button>
    </ng-container>
    <ng-container >
        <button mat-icon-button (click)="onReset()">
            <mat-icon class="text-6xl">restart_alt</mat-icon>
        </button>    
    </ng-container>
    <ng-container *ngIf="(!isAlarmPlaying && !isAlarmEnabled) && timerService.mode=='timer'">
        <button mat-icon-button (click)="onToggleAlarm()">
            <mat-icon class="text-6xl">volume_off</mat-icon>
        </button>    
    </ng-container>
    <ng-container *ngIf="(!isAlarmPlaying && isAlarmEnabled) && timerService.mode=='timer'">
        <button mat-icon-button (click)="onToggleAlarm()">
            <mat-icon class="text-6xl">volume_up</mat-icon>
        </button>    
    </ng-container>
    <ng-container *ngIf="isAlarmPlaying">
        <div class="relative flex items-center">
            <button mat-icon-button (click)="onStopAlarm()">
                <mat-icon class="text-6xl">alarm</mat-icon>
            </button>    
            <span class="animate-ping absolute inline-flex h-8 w-8 ml-1 rounded-full bg-red-400 opacity-75 pointer-events-none"></span>
        </div>
    </ng-container>
</div>

<audio #timerAlarm
       loop="loop">
  <source src="/assets/audio/alarm.oga"
          type="audio/ogg">
  <source src="/assets/audio/alarm.mp3"
          type="audio/mp3">
</audio>